@{
    ViewBag.Title = "Customer Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")

<h2>Custome Dashboard</h2>

<style>
    #maincontent {
        margin: 10px;
        border: solid 4px;
        color: white;
        border-color: #FF9800;
    }

    #content {
        width: 300px;
        float: left;
        height: 400px;
        padding: 5px 15px;
    }

    #middle {
        width: 300px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        height: 400px;
        margin: 0px 5px 5px 5px;
    }

    #sidebar {
        width: 300px;
        padding: 5px 15px;
        height: 400px;
        float: left;
    }
</style>






<section class="content-header">
    <h1>
        User Dashboard
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-checkmark-circled"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text" id="app">Approved</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-minus-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending Approved</span>
                    <span class="info-box-number">41,410</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-info-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Enquiry</span>
                    <span class="info-box-number">760</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">List All Property</span>
                    <span class="info-box-number">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    