@{
    ViewBag.Title = "Create Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/unobtrusive/js")
<h2>AllUser</h2>

<div class="panel panel-default" id="maincontent">
    <div class="panel-heading" style="background-color:#FF9800;color:white;font-size:20px;">Dashboard</div>
    <div class="panel-body" style="">

        <div id="main1" style="width:150%;float:left;margin-left:30px;">
            <section>
                <div class="col-md-3 col-sm-3 submit-image">
                    <div class="image-placeholder">600x400 (JPG)</div>
                    <input type="file" name="image1">
                </div>
            </section>
            <section id="content" style="color:black;height:200px;width:300px;">

                <h4>Name :Shreya singh </h4>
                <h6>Phone</h6>
                <h6>DateOfBirth</h6>
                <h6>Email</h6>
                <h5>@Html.ActionLink("ChangePassword", "CreatNewPassword", " User ")</h5>
                <br>
            </section>
            <section id="content" style="color:black;height:200px;width:300px;">
                <strong style="font-size:15px;">Membership Details :</strong><br>
                Membership Status : PAID <br>
                Membership Ends : 01-NOV-2016<br>
                Membership Level : Business Premium<br>
            </section>
        </div>
        <div id="main1" style="width:100%;float:left;margin-left:30px;">
            <section id="content" style="color:black;height:auto;width:auto;">
                <strong style="font-size:15px;">Property Enquiries :</strong><br>
                The Total Enquiries Received   : <br>
                15 Newest Enquiries   :<br>
                dstrueblood@gmail.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp05-Mar-2016  06:51<br>
                mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  04:06<br>
                mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  04:06<br>
                mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  06:05<br>
                mina.hotrlier@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp03-Mar-2016  06:05<br>


                marcinprzak@gmail.com        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  23:06<br>
                Rakaball@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  06:45<br>
                Rakaball@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp01-Mar-2016  06:44<br>
                nannu84_m@hotmail.com        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp27-Feb-2016  18:19<br>
                bartqmir@yahoo.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp27-Feb-2016  06:06<br>
                rhinoshinde@gmail.com     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp25-Feb-2016  19:11<br>
                rhinoshinde@gmail.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp05-Feb-2016  19:11<br>
                fergus.mcnab213@gmail.com         &nbsp24-Feb-2016  08:57<br>
                sholdway@interbaun	.com         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp20-Feb-2016  11:43<br>
            </section>
        </div>
        <div id="main1" style="width:100%;float:left;margin-left:30px;">
        </div>
        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyrights-col-left col-md-6 col-sm-6">
                        <p>2016 © <a href="http://mariainfotech.in/">MARIA Infotech Pvt. Ltd. </a>All Rights Reserved.</p>
                    </div>
                    <div class="copyrights-col-right col-md-6 col-sm-6">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a id="back-to-top"><i class="fa fa-angle-double-up" style="display:inline"></i></a>
    </div>
</div>

